<div>

    <h1>Chat de Coder</h1>
    <input type="text" id="chatBox">
</div>
<div>
    <p id="messageLogs"></p>
</div>
<script> 
  window.messagesInit = {{{messagesJson}}};
</script>
<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/chat.js"></script>
<link href="/css/home.css" rel="stylesheet">