 
  <div class="container">
        <h1>Lista de Productos</h1>
        <ul id="product-list">
            <!-- Los productos se insertarán aquí  -->
        </ul>
    </div>

<script> 
  window.products = {{{productsJson}}};
</script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>
<link href="/css/home.css" rel="stylesheet">





