body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.product {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fafafa;
}
.product img {
    max-width: 100px;
    max-height: 100px;
    display: block;
    margin: 0 auto 10px;
}
.product h2 {
    font-size: 20px;
    margin-bottom: 5px;
}
.product p {
    margin: 0;
    color: #666;
}